*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
.chart
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.headjobapplication
{
    /* margin-left: 150px; */
    text-align: center;
    color: black;
    text-decoration: underline color(srgb red 000 000);
}
body{
    margin: 30px;
    align-items: center;
    background-image: url(./hiring-concept-with-empty-chair.jpg);
    background-size:cover;

    
}
.header
{
   text-align: center;
}
.parent
{    
   border: 2px solid black;
   border-radius: 10px;
   box-shadow: 0px 0px 50px rgb(145, 142, 142);
   height: 650px;
   width:510px ;
   display: grid;
   grid-template-columns:repeat(auto-fit, minmax(200px, 2fr));
grid-gap: 50px;
padding-top: 20px


}

.child
{
    display: flex;
    flex-direction: column;
    padding: 10px 30px; 
   width: 250px;
   padding-right: 50px;
   align-items: center;
   justify-content: center;
   
  
}

label
{
        font-size: 20px;
        font-weight: bold;
      
}
input,select,textarea
{
    padding: 6px 10px;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    
}
textarea
{
    height: 50px;
    width: 200px;
}
.yourcv 
{   

     width: 254px;
     font-size: 16px;
    margin-left: 30px;
}

.childbutton
{   
    display: flex; 
   height: 75px;
   justify-content:end; 
   padding-top: 40px;
   margin-right: 60px;
   
}

button:hover
{
    color: whitesmoke;
}
button:focus
{
    background-color: red;
}

button
{
    background-color:rgb(14, 14, 14);
    color: rgb(245, 243, 243);
    transation: " all 5s linear"
    
}

button:hover
{
   transform:scaleX(1.3)
}

/* .date 
{
    color: beige;
}*/